<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
                <li><i class="fa-solid fa-phone"></i>(xx) xxxx-xxxx</li>
                <li><i class="fa-brands fa-square-whatsapp"></i>(xx) x xxxx-xxxx</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
